@font-face {
  font-family: "PR";
  src: url(https://cdn.jsdelivr.net/gh/oragekk/blog-assets/font/8d6a7466947745f9f211cd17e0ed5dc3.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/oragekk/blog-assets/font/8d6a7466947745f9f211cd17e0ed5dc3.woff)
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
